# --- DATABASE CONFIG ---
DB_PORT=5433
DB_NAME=yomudb_staging
DB_USER=yomu_staging_user
DB_PASSWORD=silakan_isi_password_aman_di_sini

# --- BACKEND CONFIG ---
BACKEND_PORT=8081
JWT_SECRET=generate_string_panjang_untuk_secret_jwt_di_sini

# --- INTEGRATION & OAUTH ---
FRONTEND_URL=https://yomu.info
GOOGLE_CLIENT_ID=isi_client_id_dari_google_console
GOOGLE_CLIENT_SECRET=isi_client_secret_dari_google_console